<!DOCTYPE html>
<html>
  <head>
    <title>MindApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= 'Encerrar sessão: ' %>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
      <%= link_to ' | Home', home_path %>
      <%= link_to ' | Views Contents', contents_path %>
      <%= link_to ' | New Contents', new_content_path %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
